/* bubbler-one-regular - latin */
@font-face {
  font-family: 'Bubbler One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bubbler-one-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bubbler One Regular'), local('BubblerOne-Regular'),
       url('../fonts/bubbler-one-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bubbler-one-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bubbler-one-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/bubbler-one-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bubbler-one-v8-latin-regular.svg#BubblerOne') format('svg'); /* Legacy iOS */
}

/* black-han-sans-regular - latin */
@font-face {
  font-family: 'Black Han Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/black-han-sans-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Black Han Sans Regular'), local('BlackHanSans-Regular'),
       url('../fonts/black-han-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/black-han-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/black-han-sans-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/black-han-sans-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/black-han-sans-v8-latin-regular.svg#BlackHanSans') format('svg'); /* Legacy iOS */
}


/* alex-brush-regular - latin */
@font-face {
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alex-brush-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Alex Brush Regular'), local('AlexBrush-Regular'),
       url('../fonts/alex-brush-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alex-brush-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alex-brush-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alex-brush-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alex-brush-v11-latin-regular.svg#AlexBrush') format('svg'); /* Legacy iOS */
}

@media (min-width: 0px){
body{
  background: #000000; 
}

nav a{
  text-decoration:none;
  color: white;
  font-size: 180%;
  position: absolute;
  top: 15em;
  left: 20%; 
}

h1{
  font-family: Alex Brush;
  font-size: 350%;
  color: white;
  position: absolute;
  top: 1em;
  left: 24%;
}

h3{
  font-family: 'Black Han Sans';
  color: white; 
  font-size: 100%;
  position: absolute;
  top: 14em;
  left: 20%;
}

.a{
  position: absolute;
  top: 15em;
  left: 27%;
}

.b{
  position: absolute;
  top: 17em;
}

section a{
  font-family:'Bubbler One' ;
  font-size: 200%;
  color: white;
  text-decoration:none;
  border: 0.2em double white;
  padding: 0.5em;
  position: absolute;
  top: 11em;
}

.active1{
  position: absolute;
  left: 20%;
  top: 6.5em;
 }

.active2{
  position: absolute;
  left: 55%;
  top: 6.5em;
 }

.active1{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active1:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
}

.active2{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active2:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
  }
}

@media (min-width: 375px){
body{
  background: #000000; 
}

nav a{
  text-decoration:none;
  color: white;
  font-size: 180%;
  position: absolute;
  top: 15em;
  left: 20%;
}

h1{
  font-family: Alex Brush;
  font-size: 350%;
  color: white;
  position: absolute;
  top: 1em;
  left: 24%;
}

h3{
  font-family: 'Black Han Sans';
  color: white; 
  font-size: 100%;
  position: absolute;
  top: 14em;
  left: 20%;
}

.a{
  position: absolute;
  top: 15em;
  left: 27%;
}

.b{
  position: absolute;
  top: 17em;
}

section a{
  font-family:'Bubbler One' ;
  font-size: 200%;
  color: white;
  text-decoration:none;
  border: 0.2em double white;
  padding: 0.5em;
  position: absolute;
  top: 11em;
}

.active1{
  position: absolute;
  left: 20%;
  top: 6.5em;
 }

.active2{
  position: absolute;
  left: 55%;
  top: 6.5em;
 }

.active1{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active1:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
}

.active2{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active2:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
  }
}

@media (min-width: 1024px){
body{
  background: #000000; 
}

nav a{
  text-decoration:none;
  color: white;
  font-size: 250%;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  top: 9em;
  left: -3%;
}

.a{
  position: absolute;
  top: 9em;
  left: -3%;
}

.b{
  position: absolute;
  top: 9em;
  left: -3%;
}

h1{
  font-family: Alex Brush;
  font-size: 600%;
  color: white;
  position: absolute;
  top: 1em;
  left: 33%;
}

h3{
  font-family: 'Black Han Sans';
  color: white; 
  font-size: 300%;
  position: absolute;
  top: 65%;
  left: 33%;
}

section a{
  font-family:'Bubbler One' ;
  font-size: 350%;
  color: white;
  text-decoration:none;
  border: 0.2em double white;
  padding: 0.5em;
  position: absolute;
  top: 11em;
}

.active1{
  position: absolute;
  left: 30%;
  top: 6em;
 }

.active2{
  position: absolute;
  left: 65%;
  top: 6em;
 }

.active1{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active1:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
}

.active2{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active2:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
  }
}


@media (min-width: 1440px){
body{
  background: #000000; 
}

nav a{
  text-decoration:none;
  color: white;
  font-size: 300%;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  top: 9em;
}

.a{
  position: absolute;
  top: 9em;
  left: -3%;
}

.b{
  position: absolute;
  top: 9em;
  left: -3%;
}


h1{
  font-family: Alex Brush;
  font-size: 700%;
  color: white;
  position: absolute;
  top: 0em;
  left: 30%;
}

h3{
  font-family:'Black Han Sans';
  color: white; 
  margin-left: 28%;
  font-size: 400%;
  position: absolute;
  top: 75%;
  left: -1.5%;
}

section a{
  font-family:'Bubbler One';
  font-size: 400%;
  color: white;
  text-decoration:none;
  border: 0.2em double white;
  padding: 0.5em;
}

.active1{
  position: absolute;
  left: 25%;
  top: 6em;
 }

.active2{
  position: absolute;
  left: 60%;
  top: 6em;
 }

.active1{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active1:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
}

.active2{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active2:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
  }
}

@media screen (min-width: 1680px){
body{
  background: #000000; 
}

nav a{
  text-decoration:none;
  color: white;
  font-size: 300%;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  top: 9em;
}

.a{
  position: absolute;
  top: 9em;
  left: -3%;
}

.b{
  position: absolute;
  top: 9em;
  left: -3%;
}


h1{
  font-family: Alex Brush;
  font-size: 600%;
  color: white;
  position: absolute;
  top: 0em;
  left: 33%;
}

h3{
  font-family: 'Black Han Sans';
  color: white; 
  font-size: 450%;
  position: absolute;
  top: 9em;
  left: -1%;
}

section a{
  font-family:'Bubbler One';
  font-size: 400%;
  color: white;
  text-decoration:none;
  border: 0.2em double white;
  padding: 0.5em;
}

.active1{
  position: absolute;
  left: 25%;
  top: 6em;
 }

.active2{
  position: absolute;
  left: 60%;
  top: 6em;
 }

.active1{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active1:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
}

.active2{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active2:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
  }
}

@media screen (min-width: 1920px){
body{
  background: #000000; 
}

nav a{
  text-decoration:none;
  color: white;
  font-size: 400%;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  top: 9em;
}

.a{
  position: absolute;
  top: 9em;
  left: -3%;
}

.b{
  position: absolute;
  top: 9em;
  left: -3%;
}

h1{
  font-family: Alex Brush;
  font-size: 700%;
  color: white;
  position: absolute;
  top: 0em;
  left: 33%;
}

h3{
  font-family: 'Black Han Sans';
  color: white; 
  font-size: 400%;
  position: absolute;
  top: 9em;
  left: 3%;
}

section a{
  font-family:'Bubbler One' ;
  font-size: 400%;
  color: white;
  text-decoration:none;
  border: 0.2em double white;
  padding: 0.5em;
}

.active1{
  position: absolute;
  left: 25%;
  top: 6em;
 }

.active2{
  position: absolute;
  left: 60%;
  top: 6em;
 }

.active1{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active1:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
}

.active2{
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
opacity:1;
}

.active2:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity:1;
  }
}
